<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link href='http://fonts.googleapis.com/css?family=Playball|Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/app.js"></script>
  </head>
  <body>

  <nav>
    <ul> 
      <li><a href="/bet">Change Bet</a></li>
      <li><a href="/game">New Game</a></li>
      <li id='title'>BLACKJACK</li>
      <li><a href="/set_name">Change Player</a></li>
    </ul>
  </nav> 

  <div class="container">
    <%if @error %>
      <div><%=@error%></div>
    <% end %>
    <%if @message1 %>
      <div class="message"><%=@message1%></div>
    <% end %>
    <%if @message2 %>
      <div class="message"><%=@message2%></div>
    <% end %>
     <%if @message3 %>
      <div class="message" id="message3"><%=@message3%></div></footer> 
    <% end %>
   
  <%= yield %>
  </div>
  </body>
  <footer>
</html>
